<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>DraftRight</string>
    <key>CFBundleDisplayName</key>
    <string>DraftRight</string>
    <key>CFBundleIdentifier</key>
    <string>com.draftright.app</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleExecutable</key>
    <string>DraftRight</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>DraftRight: Professional</string>
            </dict>
            <key>NSMessage</key>
            <string>rewriteProfessional</string>
            <key>NSPortName</key>
            <string>DraftRight</string>
            <key>NSSendTypes</key>
            <array><string>NSStringPboardType</string></array>
            <key>NSReturnTypes</key>
            <array><string>NSStringPboardType</string></array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>DraftRight: Casual</string>
            </dict>
            <key>NSMessage</key>
            <string>rewriteCasual</string>
            <key>NSPortName</key>
            <string>DraftRight</string>
            <key>NSSendTypes</key>
            <array><string>NSStringPboardType</string></array>
            <key>NSReturnTypes</key>
            <array><string>NSStringPboardType</string></array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>DraftRight: Fix Grammar</string>
            </dict>
            <key>NSMessage</key>
            <string>rewriteGrammar</string>
            <key>NSPortName</key>
            <string>DraftRight</string>
            <key>NSSendTypes</key>
            <array><string>NSStringPboardType</string></array>
            <key>NSReturnTypes</key>
            <array><string>NSStringPboardType</string></array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>DraftRight: Shorter</string>
            </dict>
            <key>NSMessage</key>
            <string>rewriteShorter</string>
            <key>NSPortName</key>
            <string>DraftRight</string>
            <key>NSSendTypes</key>
            <array><string>NSStringPboardType</string></array>
            <key>NSReturnTypes</key>
            <array><string>NSStringPboardType</string></array>
        </dict>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>DraftRight: Longer</string>
            </dict>
            <key>NSMessage</key>
            <string>rewriteLonger</string>
            <key>NSPortName</key>
            <string>DraftRight</string>
            <key>NSSendTypes</key>
            <array><string>NSStringPboardType</string></array>
            <key>NSReturnTypes</key>
            <array><string>NSStringPboardType</string></array>
        </dict>
    </array>
</dict>
</plist>
